# Required:
GATEWAY_KEYSTORE_PASSWORD=password

DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=librarian

ADMIN_USERNAME=username
ADMIN_PASSWORD=password
JWT_SECRET=secret# must be a base64-encoded string with 256 bits (32 bytes)

# Optional:
BACKEND_VERSION=1.0.0
