<section class="p-4 text-center">
  <app-page-header title="Register"/>

  <form (ngSubmit)="register()" #registerForm="ngForm">
    <div class="mb-3">
      <label for="username" class="mr-4">Username</label>
      <input
        id="username"
        name="username"
        type="text"
        [(ngModel)]="username"
        required
        class="text-primary p-2 border border-secondary rounded bg-transparent"
      />
    </div>
    <div class="mb-8">
      <label for="password" class="mr-4">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        [(ngModel)]="password"
        required
        class="text-primary p-2 border border-secondary rounded bg-transparent"
      />
    </div>
    <button type="submit" [disabled]="registerForm.invalid" class="border p-2 rounded bg-bgSecondary">
      Sign up
    </button>
  </form>

  @if (error) {
    <div style="color: red; margin-top: 10px;">
      {{ error }}
    </div>
  }
</section>
