<nav class="bg-bgSecondary p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a [routerLink]="'/'">
      <img ngSrc="assets/logo-white.png" alt="Logo" class="w-12" height="500" width="500">
    </a>
    @if (userService.isLoggedIn()) {
      <ul class="flex space-x-4 justify-end items-center">
        <li><a [routerLink]="'/'" class="text-primary hover:text-secondary">Home</a></li>
        <li><a [routerLink]="PAGES.BOOKS" class="text-primary hover:text-secondary">Books</a></li>
        <li><a [routerLink]="'/authors'" class="text-primary hover:text-secondary">Authors</a></li>
        <li><a [routerLink]="PAGES.PUBLISHERS" class="text-primary hover:text-secondary">Publishers</a></li>
        <li><a [routerLink]="'/libraries'" class="text-primary hover:text-secondary">LibrariesModel</a></li>
        @if (userService.isAdmin()) {
          <li><a [routerLink]="'/data'" class="text-primary hover:text-secondary mx-6">Data</a></li>
        }
        <li (click)="toggleDropdown()" tabindex="0">
          <img ngSrc="assets/images/user.png" alt="User" class="w-12 h-12 rounded-full cursor-pointer" height="1000" width="1000"/>
          @if (dropdownOpen) {
            <ul class="absolute right-12 mt-2 w-48 bg-secondary border rounded-lg shadow-md z-50 text-black">
              <li>
                <button class="block w-full text-left px-4 py-2 hover:bg-gray-100" (click)="logout()">Sign Out</button>
              </li>
            </ul>
          }
        </li>
      </ul>
    }
    @if (!userService.isLoggedIn()) {
      <ul class="flex space-x-8 justify-end items-center">
        <li><a [routerLink]="'/login'" class="text-primary hover:text-secondary">Sign in</a></li>
        <li><a [routerLink]="'/register'" class="text-primary hover:text-secondary">Sign up</a></li>
      </ul>
    }
  </div>
</nav>
