<section class="p-4 text-center">
    <header class="mb-4">
        <h2 class="text-2xl font-bold">
            {{author?.firstName}} {{author?.lastName}}
        </h2>
    </header>

    <h3 class="text-xl font-bold mt-5">Description</h3>
    <p class="mt-1">
        {{author?.description}}
    </p>

    <h3 class="text-xl font-bold mt-5">Books</h3>
    <div *ngIf="books" class="grid gap-2 w-1/6 mx-auto mt-1">
        <a *ngFor="let book of books.books" [routerLink]="['/books', book.id]" class="bg-bgSecondary p-2 rounded-md shadow-md text-center hover:underline">
            {{ book.title }}
        </a>
    </div>

    <div class="text-center mt-4">
        <h3 class="text-xl font-bold">Manage</h3>
        <button [routerLink]="'/authors/' + author?.id + '/edit'" class="rounded-md bg-bgSecondary text-primary px-4 py-2 mx-auto my-1 w-36 h-10">Edit</button>
    </div>
</section>
