<section class="p-4 text-center">
    <header class="mb-4">
        <h2 class="text-2xl font-bold">
            {{author?.firstName}} {{author?.lastName}}
        </h2>
    </header>

    <h3 class="text-xl font-bold mt-5">Description</h3>
    <p class="mt-1">
        {{author?.description}}
    </p>

    <h3 class="text-xl font-bold mt-5">Books</h3>
    <div *ngIf="books" class="grid gap-2 w-1/6 mx-auto mt-1">
        <p *ngFor="let book of books.books" class="bg-bgSecondary p-2 rounded-md shadow-md text-center">
            {{book.title}}
        </p>
    </div>
</section>
