<nav class="bg-bgSecondary p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a [routerLink]="'/'">
            <img src="assets/logo-white.png" alt="Logo" class="w-12">
        </a>
        <ul class="flex space-x-4 justify-end">
            <li><a [routerLink]="'/'" class="text-primary hover:text-secondary">Home</a></li>
            <li><a [routerLink]="'/books'" class="text-primary hover:text-secondary">Books</a></li>
            <li><a [routerLink]="'/authors'" class="text-primary hover:text-secondary">Authors</a></li>
            <li><a [routerLink]="'/publishers'" class="text-primary hover:text-secondary">Publishers</a></li>
            <li><a [routerLink]="'/libraries'" class="text-primary hover:text-secondary">Libraries</a></li>
        </ul>
    </div>
</nav>

