@import "tailwindcss";

@theme {
  --color-bgPrimary: #1e1d1d;
  --color-bgSecondary: #000000;
  --color-primary: #ffffff;
  --color-secondary: #a8a8a8;

  --color-brandFrom: #3b82f6;
  --color-brandMid: #a855f7;
  --color-brandTo: #ec4899;

  --color-brandFromSoft: rgba(59, 130, 246, 0.22);
  --color-brandMidSoft: rgba(168, 85, 247, 0.22);
  --color-brandToSoft: rgba(236, 72, 153, 0.22);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
