<section class="p-4 text-center">
  <app-page-header [title]='"Register"'></app-page-header>

  <form (ngSubmit)="register()" #registerForm="ngForm">
    <div class="mb-3">
      <label for="username" class="mr-4">Username</label>
      <input
        id="username"
        name="username"
        type="text"
        [(ngModel)]="username"
        required
        class="text-black p-2"
      />
    </div>
    <div class="mb-8">
      <label for="password" class="mr-4">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        [(ngModel)]="password"
        required
        class="text-black p-2"
      />
    </div>
    <button type="submit" [disabled]="registerForm.invalid" class="border p-2 rounded bg-bgSecondary">Sign up</button>
  </form>

  <div *ngIf="error" style="color: red; margin-top: 10px;">
    {{ error }}
  </div>
</section>
